<section class="content-header">
  <div class="nav-tabs-custom box box-success">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab_1" data-toggle="tab">Auction Details</a></li>
      <li><a href="#tab_2" data-toggle="tab">Vehicle details</a></li>
      <li><a href="#tab_3" data-toggle="tab">Reserved Detail</a></li>
      <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
    </ul>
    <!-- form start -->
    <form role="form">
      <div class="container-fluid">

        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="lotNo">Lot No</label>
                  <input type="text" class="form-control" id="lotNo" name="lotNo">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="auctionHouse">Auction House</label>
                  <input type="text" class="form-control" id="auctionHouse" name="auctionHouse">
                </div>
              </div>
            </div>
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="tab_2">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="maker">Maker</label>
                  <select class="form-control select2" id="maker" name="maker" style="width: 100%;">
                    <option selected="selected">Honda</option>
                    <option>BMW</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="model">Model</label>
                  <select class="form-control select2" id="model" name="model" style="width: 100%;">
                    <option selected="selected">Model-1</option>
                    <option>Model-2</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="model">Year/Month</label>
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="yeat_">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="tab_3">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
            like Aldus PageMaker including versions of Lorem Ipsum.
          </div>
          <!-- /.tab-pane -->

        </div>

      </div>
    </form>
    <!-- /.tab-content -->

    <div class="box-footer">
      <div class="row">
        <div class="col-md-2 pull-right">
          <button type="reset" class="btn btn-primary form-control">Reset</button>
        </div>
        <div class="col-md-2 pull-right">
          <button type="submit" class="btn btn-primary form-control">Save</button>
        </div>
      </div>
    </div>
  </div>


</section>
